# 숨기고 싶은 파일/폴더
../.CFUserTextEncoding
../.DS_Store
../.anaconda/
../.bash_history
../.bash_profile
../.conda/
../.condarc
../.config/
../.dbclient/
../.dbtools/
../.gitconfig
../.jupyter/
../.lesshst
../.local/
../.mono/
../.mysql_history
../.node_repl_history
../.npm-global/
../.npm/
../.nvm/
../.redhat/
../.tcshrc
../.th-client/
../.viminfo
../.vscode/
../.xonshrc
../.zprofile
../.zsh_history
../.zsh_sessions/
../.zshrc
../Applications/
../Library/
../Movies/
../Music/
../Pictures/
../Public/
../csnote/
node_modules/
../git-day1/
../git-merge-test/
../git_0317/
../git_test01/
../origin_repo/
../sample_input.txt
../team_3_project/
../use
# 깨진 이름 파일 무시
../*.jpeg
















